# Binaries
*.exe
*.dll
*.so
*.dylib

# Go
bin/
*.test
coverage.out

# Logs
*.log

# Env
.env
.env.*

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker volumes / local data
postgres_data/
clickhouse_data/
elasticsearch_data/
cassandra_data/

# Benchmark results
results/**/*.json
results/**/*.csv
